//pricing tables section
/*==========| (15). price tables section css |==========*/
.lt_price_table_section{
	background:$bg-light;
	.lt_headings_block{
		margin-bottom:$min-margin;
	}
	.lt_pricing_table_block{
		background:$white;
		position:relative;
		-webkit-transition:0.3s;
				transition:0.3s;
		.lt_pricetable_title_block{
			text-align:center;
			height:190px;
			display:-webkit-flex;
			display:flex;
			position:relative;
			background:url(../images/tables.jpg);
			.lt_pricetable_title_inner{
				margin:auto;
				position:relative;
				z-index:2;
				h1{
					font-size:$font-double;
					font-weight:$light-weight;
					color:$white;
					margin:0;
					span{
						font-size:$font-head+4;
						margin-right:4px;
					}
				}
				h5{
					font-size:$medium-font;
					font-weight:$dark-weight;
					color:$white;
					text-transform:uppercase;
				}
			}
			.lt_pricetable_title_overlay{
				width:100%;
				height:100%;
				top:0;
				left:0;
				opacity:0.9;
				position:absolute;
				background: $primary-dark; /* For browsers that do not support gradients */
			    background: -webkit-linear-gradient($primary-dark, $primary-light); /* For Safari 5.1 to 6.0 */
			    background: -o-linear-gradient($primary-dark, $primary-light); /* For Opera 11.1 to 12.0 */
			    background: -moz-linear-gradient($primary-dark, $primary-light); /* For Firefox 3.6 to 15 */
			    background: linear-gradient($primary-dark, $primary-light); /* Standard syntax */
			}
		}
		.lt_pricetable_content{
			padding:25px;
			text-align:center;
			.lt_pt_list{	
				padding-bottom: 25px;
    			margin-bottom: 25px;
    			position:relative;
				ul{
					padding:0;
					margin:0;
					text-align:left;
					display:inline-block;
					li{
						font-size:$base-font;
						line-height:48px;
						font-weight:$light-weight;
						color:$menu-color;
						display:block;
						padding-left:25px;
						&:before{
							content:'';
							font-size: $base-font;
						    color: $green;
						    content: '\f00c';
						    margin-left:-25px;
						    position: absolute;
						    font-family: FontAwesome;
						}
						&.lt_not_allowed{
							text-decoration:line-through;
							&:before{
								content:'\f00d';
								color:$red;
							}
						}
					}
				}
				&:after{
					content:'';
					width:100%;
					height:1px;
					position:absolute;
					left:0;
					bottom:0;
					background: $primary-dark; /* For browsers that do not support gradients */    
					background: -webkit-radial-gradient($primary-dark, $white, $white); /* Safari 5.1 to 6.0 */
					background: -o-radial-gradient($primary-dark, $white, $white); /* For Opera 11.6 to 12.0 */
					background: -moz-radial-gradient($primary-dark, $white, $white); /* For Firefox 3.6 to 15 */
					background: radial-gradient($primary-dark, $white, $white); /* Standard syntax (must be last) */
				}
			}	
		}
		&:hover,
		&:focus{
			-webkit-box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.25); 
					box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.25); 
		}		
	}	
}




/*==========| responsive price tables section css |==========*/

@media (min-width: 992px) and (max-width: 1199px) {
	.lt_price_table_section{
		.lt_pricing_table_block{
			.lt_pricetable_title_block{
				height:150px;
				.lt_pricetable_title_inner{
					h1{
						font-size:$font-full+2;
					}
				}
			}
		}
	}				
}

@media (min-width: 768px) and (max-width: 991px) {
	.lt_price_table_section{
		.lt_headings_block{
			margin-bottom:60px;
		}
		.lt_pricing_table_block{
			margin-bottom:30px;
		}
	}	
}

@media (max-width: 767px){
	.lt_price_table_section{
		.lt_headings_block{
			margin-bottom:40px;
		}
		.lt_pricing_table_block{
			margin-bottom:30px;
			border-bottom:1px solid $border-light;
			.lt_pricetable_title_block{
				height:auto;
				.lt_pricetable_title_inner{
					padding:20px;
					h1{
						font-size:$font-large+8;
						span{
							font-size:$big-fonts+2;
						}
					}
				}

				.lt_pricetable_content{
					padding:20px 15px;
				}
			}
		}	
		.col-md-3{
			.lt_pricing_table_block{
				&:last-child{
					margin-bottom:0;
				}
			}
		}		
	}	
}